
<mat-toolbar class="d-flex justify-content-center">
  <h1 style="margin-right: 1em;">  <i class="fa-solid fa-chain" aria-hidden="true"></i>&nbsp; {{this.flowForm.get("name").value}}</h1>
  <a class="play-btn" id="play-btn" (click)="ani();"></a>
</mat-toolbar>
<div class="row  w-100">
    <div class="col-3">
      <cdk-virtual-scroll-viewport #scroller itemSize="72" class="content">
        <mat-list class="infinitelist">
            <ng-container *cdkVirtualFor="let item of listItems">
              <mat-divider></mat-divider>
                    <mat-list-item  class="listitem" [style.border-left]="getBorder(item.content)">
                     
                    <h3 matLine> <i class="fa fa-hashtag" aria-hidden="true"></i> {{item.title}} <img [src]="item.image" width="30"> </h3>
                    <p matLine>
                        <span> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Duration: <code>{{item.runtime}}</code>
                    
                      </span>
                        
                    </p>
                    <button mat-icon-button [matMenuTriggerFor]="itemMenu" [matMenuTriggerData]="{name: item.id, instance:this.id,docker:item.id}">
                        <mat-icon>
                        more_vert
                        </mat-icon>
                    </button>
                    <mat-divider></mat-divider>
                    </mat-list-item>
        
            </ng-container>
            <div class="spinner-item">
                <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50" *ngIf="loading != false">     
          </mat-progress-spinner>
              </div>
        </mat-list>
    </cdk-virtual-scroll-viewport>
              
      <mat-menu #itemMenu="matMenu" >
          <ng-template matMenuContent let-name="name">
          <button mat-menu-item (click)="showConsole(name)">
              <i class="fa-solid fa-code" aria-hidden="true"></i> Console Log
          </button>
          <button mat-menu-item (click)="deleteFlowInstance(name)">
              <i class="fa-solid fa-times-circle" style="color: red;" aria-hidden="true"></i> Delete
          </button>
        </ng-template>
      </mat-menu>

    </div>
  
    <div class="col-9">


      <div class="d-flex flex-row" *ngFor="let num of this.steps; let i = index">
          <div class="align-middle border-end border-start border-1">
            <div>&nbsp;</div>
            
            <i class="fa-solid fa-arrow-down fa-1x" aria-hidden="true"></i>

          </div>
        <div [cdkDropListData]="this.steps[i]" class="example-list-horiz">
          <div class="example-box-horiz" [id]="item._id+i+j" *ngFor="let item of this.steps[i]; let j = index" >
            <img width="50px" [src]="this.imageUrls[item.image]">
            {{item.name}}</div>
        </div>
        <div class="border-end border-start border-1" style="width:3em;">
          <div class="text-center align-vertical">
            <div>&nbsp;</div>
            <h2>{{i}}</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="details text-center">
     
      <mat-toolbar class="d-flex justify-content-center">
        <i class="fa-solid fa-info-circle" aria-hidden="true"></i> <h1 style="margin-right: 1em;">&nbsp;Details</h1>
 
      </mat-toolbar>  

      <ngx-codemirror [options]="{lineNumbers: true, theme: 'material',lineWrapping: true,matchBrackets: true,readOnly:true}" (keydown)="fullScreen($event, this);" [(ngModel)]="output"></ngx-codemirror>

    </div> -->
  </div>