/* The solution */

.page-section{
    padding: 0 !important;
    height: 100%;
}
.paginate-center>* {
    flex: 1 1 auto;  
    }
.card-img-top {
    width: 4vw;
    height: 4vw;

    object-fit: cover;
}
.item{
    max-height: 20em !important;
    max-width: 16em !important;
}
mat-row:hover{
    background-color:white;
}
.mat-column-configure {
    flex: 0 0 10% ;
}
.mat-column-desc {
    flex: 0 0 15% ;
}
.mat-column-image {
    flex: 0 0 10% ;
}
.mat-column-name{
    flex: 0 0 10%;
}
.mat-column-block{
    flex: 0 0 15%;
}
.mat-column-run{
    flex: 0 0 10%;
}
