
<div class="container">
  <mat-toolbar class="d-flex justify-content-center">
    <i class="fa-solid fa-cubes" aria-hidden="true"></i> <h1 style="margin-right: 1em;">&nbsp;Instances</h1>
</mat-toolbar>
  <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(ngModel)]="this.dataSource.filter">
      </mat-form-field>
    </div>
    
    <div class="example-container mat-elevation-z8">
      <mat-paginator [showFirstLastButtons]="true" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="run" >
          <mat-header-cell *matHeaderCellDef>Run</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.run">
            <mat-chip-list class="d-flex">
              <button mat-button [routerLink]="['/instance-run/', row._id]"><i class="fa-solid fa-play-circle fa-3x" aria-hidden="true"></i></button>
              <img *ngIf="row.lastrun == false" matListAvatar src="../../../assets/success.png">
              <img *ngIf="row.lastrun == true" matListAvatar src="../../../assets/fail.png">
              <img *ngIf="row.lastrun == 'running'" width="50" matListAvatar src="../../../assets/loading.gif">
              <img *ngIf="row.lastrun == 'none'" matListAvatar src="../../../assets/question.png">
              <mat-chip class="flex-fill">{{row.numruns}}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="desc">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.desc">{{row.desc}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="configure">
          <mat-header-cell *matHeaderCellDef>Configure</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.configure">
            <button mat-button [routerLink]="['/create-instance/', row._id]"><mat-icon aria-hidden="false" style="color:darkslateblue;">edit</mat-icon></button>
            <button mat-button (click)="removeInstance(row._id)"><mat-icon aria-hidden="false" style="color: maroon;">delete</mat-icon></button>
            <a [routerLink]="['/instance-stats/', row._id]" mat-button><i class="fa-solid fa-bar-chart" aria-hidden="true"></i></a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="block">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Block</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.block.name"><button mat-button color="primary" [routerLink]="['/create-block/', row.block._id]"><i class="fa-solid fa-edit" aria-hidden="true"></i>&nbsp;{{row.block.name}}</button></mat-cell>
        </ng-container>
        <ng-container matColumnDef="parameters">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Parameters</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.parameters">   
          <mat-chip-list>

            <ng-container aria-label="Parameters" *ngIf='row.parameters.length != 0'>
            
                <mat-chip color="primary" selected *ngFor="let param of row.parameters">
                  <ng-container *ngIf="param.secret == true">
                    {{param.key}}=***
                  </ng-container>
                  <ng-container *ngIf="param.secret == false">
                    {{param.key}}={{param.value}}
                  </ng-container>
                </mat-chip>
            
            </ng-container>
            <ng-container aria-label="Parameters" *ngIf='row.shared.length != 0'>
              
                <mat-chip color="accent" selected *ngFor="let param of row.shared">
                  <ng-container *ngIf="param.secret == true">
                    {{param.key}}=***
                  </ng-container>
                  <ng-container *ngIf="param.secret == false">
                    {{param.key}}={{param.value}}
                  </ng-container>
                </mat-chip>
            
            </ng-container>
            <ng-container aria-label="Parameters" *ngIf='row.parameters.length == 0 && row.shared.length == 0 && row.booleans.length == 0 && row.multis.length == 0'>
              <mat-chip>No Parameters</mat-chip>
            </ng-container>
            <ng-container aria-label="Parameters" *ngIf='row.booleans.length != 0'>
              <mat-chip color="secondary" selected *ngFor="let param of row.booleans">{{param.key}}={{param.value}}</mat-chip>
            </ng-container>
            <ng-container aria-label="Parameters" *ngIf='row.multis.length != 0'>
              <mat-chip color="warning" selected *ngFor="let param of row.multis">{{param.key}}={{param.value}}</mat-chip>
            </ng-container>
          </mat-chip-list>
        </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="chosen-row" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
  
    </div>
</div>