<p-toast></p-toast>
<p-toolbar>
  <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-dark mr-2" [routerLink]="'/instance/create'"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedInstances()" [disabled]="!selectedInstances || !selectedInstances.length"></button>
  </ng-template>
  <h2>
    <i class="fa-solid fa-cubes"></i> List of Instances

  </h2>
  <!-- <ng-template pTemplate="right">
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
  </ng-template> -->
</p-toolbar>
<p-table 

#dt [value]="instances"  [(selection)]="selectedInstances" dataKey="_id" styleClass="p-datatable-sm p-datatable-gridlines" [rowHover]="true"
[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[filterDelay]="0" [globalFilterFields]="['name','lang','github']">
<ng-template pTemplate="caption">
    <div class="table-header">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
          </span>
    </div>
</ng-template>

<ng-template pTemplate="header">
    <tr>
        <th  style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th  style="width: 3rem">
        </th>
        <th  style="width: 3rem">
          
      </th>
        <th  pSortableColumn="name">
            <div class="flex justify-content-between align-items-center">
                Name
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
            </div>
        </th>
        <th  pSortableColumn="block">
          <div class="flex justify-content-between align-items-center">
              Block
              <p-sortIcon field="block"></p-sortIcon>
              <p-columnFilter type="text" field="block" display="menu" class="ml-auto"></p-columnFilter>
          </div>
      </th>
    
        <!-- <th pSortableColumn="lang">
            <div class="flex justify-content-between align-items-center">
                Language
                <p-sortIcon field="lang"></p-sortIcon>
                <p-columnFilter field="lang" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="ml-auto">
                  <ng-template pTemplate="header">
                      <div class="px-3 pt-3 pb-0">
                          <span class="font-bold">Language Picker</span>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect [ngModel]="value" [options]="langs" placeholder="Any" (onChange)="filter($event?.value)" display="chip" [optionValue]="'value'" [optionLabel]="'id'">
                          <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-instance-option">
                                  <img [alt]="option" onerror="this.src='../../../assets/no_code.png'"  style="vertical-align: middle" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{option.value | lowercase}}/{{option.value | lowercase}}-original.svg" width="32">
                                  <span class="ml-1">{{option.value}}</span>
                              </div>
                          </ng-template>
                      </p-multiSelect>
                  </ng-template>
              </p-columnFilter>
            </div>
        </th> -->


        <th  pSortableColumn="lastrun"  style="width: 10rem">
          <div class="flex justify-content-between align-items-center">
              Last Run
              <p-sortIcon field="lastrun"></p-sortIcon>
              <p-columnFilter [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" field="lastrun" matchMode="equals" display="menu" class="ml-auto">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-dropdown [ngModel]="value" [options]="lastRunOptions" (onChange)="filter($event.value)" placeholder="Any">
                          <ng-template let-option pTemplate="item">
                              <span [class]="'customer-badge lastrun-' + option">{{option}}</span>
                          </ng-template>
                      </p-dropdown>
                  </ng-template>
              </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="numruns">
          <div class="flex justify-content-between align-items-center">
              # Runs
              <p-sortIcon field="numruns"></p-sortIcon>
              <p-columnFilter type="numeric" field="numruns" display="menu" class="ml-auto"></p-columnFilter>
          </div>
        </th>
        <!-- <th pSortableColumn="activity">
            <div class="flex justify-content-between align-items-center">
                Activity
                <p-sortIcon field="activity"></p-sortIcon>
                <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="ml-auto">
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                        <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3"></p-slider>
                        <div class="flex align-items-center justify-content-between px-2">
                            <span>{{activityValues[0]}}</span>
                            <span>{{activityValues[1]}}</span>
                        </div>
                    </ng-template>
                </p-columnFilter>
            </div>
        </th> -->
        <th >
          <div class="flex justify-content-between align-items-center">
            Parameters
          </div>
        </th>
        <th pSortableColumn="createdAt">
          <div class="flex justify-content-between align-items-center">
              Created
              <p-sortIcon field="createdAt"></p-sortIcon>
              <!-- <p-columnFilter type="date" field="createdAt" display="menu" class="ml-auto"></p-columnFilter> -->
              
          </div>
      </th>
      <th pSortableColumn="updatedAt">
          <div class="flex justify-content-between align-items-center">
              Updated
              <p-sortIcon field="updatedAt"></p-sortIcon>
              <!-- <p-columnFilter type="date" field="updatedAt" display="menu" class="ml-auto"></p-columnFilter> -->
          </div>
      </th>
        <th></th>

    </tr>
</ng-template>
<ng-template pTemplate="body" let-instance  let-expanded="expanded">
    <tr class="p-selectable-row">
        <td>
            <p-tableCheckbox [value]="instance"></p-tableCheckbox>
        </td>
        <td>
                <a class='playBut'  [routerLink]="['/instance/run/', instance._id]">
                  
              <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
              <svg version="1.1"
                   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                   x="0px" y="0px" width="45px" height="45px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                   xml:space="preserve">
              
              <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                  73.5,62.5 148.5,105.8 73.5,149.1 "/>
                
              <circle class='circle' id="XMLID_17_" fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
              </svg>
              
              
                  
                </a>
        </td>
        <td>
          <button  *ngIf="instance.desc" style="height:30px;width: 30px;" type="button" pButton pRipple [pRowToggler]="instance" class="p-button-text p-button-sm p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>
            <span class="p-column-title">Name</span>
            <img width="30px" [src]="this.imageUrls[instance.image]">
            {{instance.name}}
        </td>
        <td>
          <span class="p-column-title">Block</span>
          <button pButton type="button" class="p-button-outlined p-button-sm" label="{{instance.block}}" [routerLink]="['/block/create/', instance.block_id]" ></button>
         </td>
      
        <!-- <td>
            <span class="p-column-title">Lang</span>
            <img onerror="this.src='../../../assets/no_code.png'" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{instance.lang | lowercase}}/{{instance.lang | lowercase}}-original.svg" width="30">
            <span class="image-text">{{instance.lang}}</span>
        </td> -->
      
        <!-- <td>
            {{instance.balance | currency:'USD':'symbol'}}
        </td> -->
        <td>
            <span class="p-column-title">Last Build</span>
            <img  style="height:30px;width: 30px;" *ngIf="instance.lastrun == true" matListAvatar src="../../../assets/success.png">
            <img  style="height:30px;width: 30px;" *ngIf="instance.lastrun == false" matListAvatar src="../../../assets/fail.png">
            <img  style="height:30px;width: 30px;" *ngIf="instance.lastrun == 'running'" width="50" matListAvatar src="../../../assets/loading.gif">
            <img  style="height:30px;width: 30px;" *ngIf="instance.lastrun == 'none'" matListAvatar src="../../../assets/question.png">
        </td>
        <td>
          {{instance.numruns}}
        </td>
        <td>
          <ng-container *ngFor="let param of instance.parameters.concat(instance.shared).concat(instance.multis).concat(instance.booleans)">
            <p-tag *ngIf="param.key && !param.secret" [style.margin-right]="'.5rem'" value="{{param.key}}={{param.value}}"></p-tag>
            <p-tag *ngIf="param.key && param.secret" [style.margin-right]="'.5rem'" value="{{param.key}}=****"></p-tag>
          </ng-container>
        </td>
        <!-- <td>
            <span class="p-column-title">Activity</span>
            <p-progressBar [value]="instance.activity" [showValue]="false"></p-progressBar>
        </td> -->
        <td>
          {{instance.createdAt | date:'short'}}
        </td>
        <td>
          {{instance.updatedAt | date:'short'}}
        </td>
        <td style="text-align: center">
    
            <div class="multi-button">
                <button class="special" [routerLink]="['/instance/create/', instance._id]"><i class="fas fa-cog"></i> Edit</button>
                <button class="special" [routerLink]="['/step/list/']"><i class="fas fa-stairs"></i> Steps <p-badge [value]="instance.flow_count" severity="primary" [style.margin-left]="'.5em'"></p-badge></button>
                <button class="special" [routerLink]="['/dag/list/']"><i class="fas fa-diagram-project"></i> DAGs <p-badge [value]="instance.flowviz_count" severity="primary" [style.margin-left]="'.5em'"></p-badge></button>
                <button class="special" [routerLink]="['/instance/stats/', instance._id]"><i class="fas fa-line-chart"></i> Stats</button>
            </div>

        </td>

    </tr>
</ng-template>
<ng-template pTemplate="rowexpansion" let-instance>
  <tr>
    <td colspan="20">
      {{instance.desc}}

    </td>
  </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="20">No instances found.</td>
    </tr>
</ng-template>
</p-table>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
