    <mat-toolbar class="d-flex justify-content-center">
      <i class="fa-solid fa-th-list" aria-hidden="true"></i> <h1 style="margin-right: 1em;">&nbsp;Shared Parameters</h1>
      <button pButton pRipple type="button" icon="pi pi-plus" (click)="addParameter()" class="p-button-rounded p-button-text"></button>
      <!-- <button color="primary" mat-button (click)="addParam()"><i class="fa-solid fa-plus-circle fa-2x" aria-hidden="true"></i></button>
      <button color="accent" mat-button (click)="saveParam()"><i class="fa-solid fa-save fa-2x" aria-hidden="true"></i></button> -->
  </mat-toolbar>
    <!-- <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    
    <div class="example-container mat-elevation-z8">
      <mat-paginator [showFirstLastButtons]="true" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <mat-table [dataSource]="dataSource" matSort>
    
     
        <ng-container matColumnDef="key">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Key</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-form-field floatLabel="never" class="w-100">
                <input matInput placeholder="key" [value]="row.key" [(ngModel)]="row.key">
            </mat-form-field>    
           </mat-cell>
        </ng-container>
 
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.value">
            <mat-form-field floatLabel="never" class="w-100">
          
                <input matInput placeholder="value" [id]="row.key" [value]="row.value" [(ngModel)]="row.value">
            </mat-form-field>  
            </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="secret">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Secret</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.secret">
                <mat-slide-toggle (change)="this.togglePass(row)" [value]="row.secret" [(ngModel)]="row.secret"></mat-slide-toggle>  
            </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="configure">
          <mat-header-cell *matHeaderCellDef>Configure</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.configure">
            <button mat-button (click)="removeParam(row)"><mat-icon aria-hidden="false" style="color: maroon;">delete</mat-icon></button>
          </mat-cell>
        </ng-container>
  
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="chosen-row" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
   
    </div>
   -->
<!-- 
   #dt [value]="blocks"  [(selection)]="selectedBlocks" dataKey="_id" styleClass="p-datatable-sm p-datatable-gridlines" [rowHover]="true"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" [globalFilterFields]="['name','lang','github']" -->

   <p-toast></p-toast>
   <div class="card">
        <p-table [value]="parameters2" dataKey="_id" editMode="row" responsiveLayout="scroll"
        
        #dt styleClass="p-datatable-sm p-datatable-gridlines" [rowHover]="true"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" [globalFilterFields]="['key','value','secret']"
        
        
        >
        <ng-template pTemplate="caption">
          <div class="table-header">
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
              </span>
          </div>
      </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Secret</th>
                    <th style="width:8rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-parameter let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="parameter">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="parameter.key">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{parameter.key}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text"  *ngIf="!parameter.secret" [(ngModel)]="parameter.value" required>
                                <input pInputText type="password"  *ngIf="parameter.secret" [(ngModel)]="parameter.value" required>
                            </ng-template>
                            <ng-template pTemplate="output" *ngIf="!parameter.secret">
                                {{parameter.value}}
                            </ng-template>
                            <ng-template pTemplate="output" *ngIf="parameter.secret">
                              *****
                            </ng-template>                            
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="statuses" (onChange)="onChange($event,parameter)" [(ngModel)]="parameter.secret" [style]="{'width':'100%'}"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{parameter.secret}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(parameter)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(parameter)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(parameter, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash" (click)="onRowEditRemove(parameter, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>