/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 750px;
  }
 
  :host ::ng-deep .mat-slide-toggle-content {
    display: flex; /* Turn into a flexbox container for alignment */
  }
  
  .material-icons {
    margin-right: 2px; /* Spacing from the content */
  }
  
  :host ::ng-deep .mat-slide-toggle-label-before .mat-slide-toggle-bar {
    margin-left: 10px; /* Spacing from the icon and content */
  }
 *{
    word-wrap: break-word;
    word-break:break-all;
  }
  .mat-column-configure{
    flex: 0 0 10%;
  }
  .dockerform{
    padding-bottom: 1em;
  }