<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>

      <p class="lead">Already a member? Please <a class="link" style="cursor: pointer;" routerLink="/login">log in</a> instead.</p>

    </mat-card-header>
    <form class="example-form" (submit)="register()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button type="submit" color="accent" class="btn-block">Register!</button>
    </form>
    <p *ngIf="error" class="error">
      {{ error }}
    </p>
  </mat-card>
</div>