
<mat-toolbar class="d-flex justify-content-center">
  <h1 style="margin-right: 1em;">  <i class="fa-solid fa-chain" aria-hidden="true"></i>&nbsp; {{this.flowForm.get("name").value}}</h1>
  <a class="play-btn" id="play-btn" (click)="ani();"></a>
</mat-toolbar>
<div class="row w-100">
    <div class="col-3">
      <cdk-virtual-scroll-viewport #scroller itemSize="72" class="content">
        <mat-list class="infinitelist">
            <ng-container *cdkVirtualFor="let item of listItems">
              <mat-divider></mat-divider>
                    <mat-list-item  class="listitem" [style.border-left]="getBorder(item.content)">
                     
                    <h3 matLine> <i class="fa fa-hashtag" aria-hidden="true"></i> {{item.title}} <img [src]="item.image" width="30"> </h3>
                    <p matLine>
                        <span> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Duration: <code>{{item.runtime}}</code>
                    
                      </span>
                        
                    </p>
                    <button mat-icon-button [matMenuTriggerFor]="itemMenu" [matMenuTriggerData]="{name: item.id, instance:this.id,docker:item.id}">
                        <mat-icon>
                        more_vert
                        </mat-icon>
                    </button>
                    <mat-divider></mat-divider>
                    </mat-list-item>
        
            </ng-container>
            <div class="spinner-item">
                <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50" *ngIf="loading != false">     
          </mat-progress-spinner>
              </div>
        </mat-list>
    </cdk-virtual-scroll-viewport>
              
      <mat-menu #itemMenu="matMenu" >
          <ng-template matMenuContent let-name="name">
          <button mat-menu-item (click)="showConsole(name)">
              <i class="fa-solid fa-code" aria-hidden="true"></i> Console Log
          </button>
          <button mat-menu-item (click)="deleteFlowvizInstance(name)">
              <i class="fa-solid fa-times-circle" style="color: red;" aria-hidden="true"></i> Delete
          </button>
        </ng-template>
      </mat-menu>

    </div>
  
    <div class="col-9">

      <div class="chart-container card">

        <ngx-graph
          [links]="links"
          [nodes]="nodes"
          [layout]="layout"
          [curve]="curve"
          [enableZoom]="true"
          [draggingEnabled]="false"
        >
          <ng-template #defsTemplate>
              <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
              </svg:marker>
          </ng-template>
      
          <ng-template #clusterTemplate let-cluster>
              <svg:g class="node cluster">
              <svg:rect
                  rx="5"
                  ry="5"
                  [attr.width]="cluster.dimension.width"
                  [attr.height]="cluster.dimension.height"
                  [attr.fill]="cluster.data.color"
              />
              </svg:g>
          </ng-template>
      
          <ng-template #nodeTemplate let-node>
              <svg:g *ngIf="node.label != '+' && node.label != 'Start'"
              (click)="onNodeClick($event)"
              (dblclick)="onNodeDblClick($event)"
              class="node"
              ngx-tooltip
              [tooltipPlacement]="'top'"
              [tooltipType]="'tooltip'"
              [tooltipTitle]="node.label"
              >
              <filter id="neon" height="300%" width="300%" x="-75%" y="-75%">
                <!-- Thicken out the original shape -->
                <feMorphology operator="dilate" radius="4" in="SourceAlpha" result="thicken" />
            
                <!-- Use a gaussian blur to create the soft blurriness of the glow -->
                <feGaussianBlur in="thicken" stdDeviation="10" result="blurred" />
            
                <!-- Change the colour -->
                <feFlood flood-color="rgb(63, 81, 181)" result="glowColor" />
            
                <!-- Color in the glows -->
                <feComposite in="glowColor" in2="blurred" operator="in" result="softGlow_colored" />
            
                <!--	Layer the effects together -->
                <feMerge>
                  <feMergeNode in="softGlow_colored"/>
                  <feMergeNode in="SourceGraphic"/>
                </feMerge>
            
              </filter>
                <svg:rect
                    [attr.width]="'5em'"
                    [attr.height]="'5em'"
                    [attr.fill]="'lightgrey'"
                    [class.pulsing]="node.done==false"
                    [class.error]="node.error == true"
                    [class.noterror]="node.error == false"
                    id="{{node.label}}rect"
                />
                <svg xmlns="http://www.w3.org/2000/svg">
                  <!-- Common use case: embed HTML text into SVG -->
                  <foreignObject x="0" y="0" width="5em" height="5em">
                    <div xmlns="http://www.w3.org/1999/xhtml"  class="text-center text-white" style="background-color: black;">
                     
                        {{node.label}}
                    </div>
                    <div xmlns="http://www.w3.org/1999/xhtml" class="text-center" style="margin-top: 1em;">
                     
                      <p>{{node.data.name}}</p>
                      <p>{{node.runtime}}</p>
                     
                    </div>
                      <img width="30px" [src]="this.imageUrls[node.data.image]" style="position: absolute; top:0; left:0">
                  </foreignObject>
                </svg>
                <!-- <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                  
                </svg:text>
                <svg:text alignment-baseline="central" [attr.x]="20" [attr.y]="node.dimension.height / 2">
                  
                </svg:text> -->
              </svg:g>
              <svg:g *ngIf="node.label == 'Start'"
              class="node"
              ngx-tooltip
              [tooltipPlacement]="'top'"
              [tooltipType]="'tooltip'"
              [tooltipTitle]="node.label"
              >
         
                <svg:rect
                    [attr.width]="'5em'"
                    [attr.height]="'5em'"
                    [attr.fill]="'black'"
                    id="{{node.label}}rect"
                />
    
                <svg:text alignment-baseline="central" [attr.x]="14" [attr.y]="node.dimension.height / 2" [attr.fill]="'white'" style="font-size:x-large;">
                  {{node.label}}
                </svg:text>
          
              </svg:g>
   
          </ng-template>
      
          <ng-template #linkTemplate let-link>
              <svg:g class="edge">
              <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
              <svg:text class="edge-label" text-anchor="middle">
                  <textPath
                  class="text-path"
                  [attr.href]="'#' + link.id"
                  [style.dominant-baseline]="link.dominantBaseline"
                  startOffset="50%"
                  >
                  <!-- {{link.label}} -->
                  </textPath>
              </svg:text>
              </svg:g>
          </ng-template>
      
        </ngx-graph>
      </div>
    </div>
    <!-- <div class="details text-center">
     
      <mat-toolbar class="d-flex justify-content-center">
        <i class="fa-solid fa-info-circle" aria-hidden="true"></i> <h1 style="margin-right: 1em;">&nbsp;Details</h1>
 
      </mat-toolbar>  

      <ngx-codemirror [options]="{lineNumbers: true, theme: 'material',lineWrapping: true,matchBrackets: true,readOnly:true}" (keydown)="fullScreen($event, this);" [(ngModel)]="output"></ngx-codemirror>

    </div> -->
  </div>