  <p-toast></p-toast>



  <p-toolbar>
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-dark mr-2" [routerLink]="'/block/create'"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedBlocks()" [disabled]="!selectedBlocks || !selectedBlocks.length"></button>
    </ng-template>
    <h2>
        <i class="fa-solid fa-cube"></i> List of Blocks
    
      </h2>
    <!-- <ng-template pTemplate="right">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template> -->
</p-toolbar>
  <p-table 
  #dt [value]="blocks" [resizableColumns]="true"  [(selection)]="selectedBlocks" dataKey="_id" styleClass="p-datatable-sm p-datatable-gridlines" [rowHover]="true"
  [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
  [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0" [globalFilterFields]="['name','lang','github']">
  <ng-template pTemplate="caption">
      <div class="table-header">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
          </span>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th   style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
      
          <th   pSortableColumn="name">
              <div class="flex justify-content-between align-items-center">
                  Name
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
              </div>
          </th>
          <th   pSortableColumn="lang">
              <div class="flex justify-content-between align-items-center">
                  Language
                  <p-sortIcon field="lang"></p-sortIcon>
                  <p-columnFilter field="lang" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="ml-auto">
                    <ng-template pTemplate="header">
                        <div class="px-3 pt-3 pb-0">
                            <span class="font-bold">Language Picker</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="langs" placeholder="Any" (onChange)="filter($event?.value)" display="chip" [optionValue]="'value'" [optionLabel]="'id'">
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-block-option">
                                    <img [alt]="option" onerror="this.src='../../../assets/no_code.png'"  style="vertical-align: middle" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{option.value | lowercase}}/{{option.value | lowercase}}-original.svg" width="32">
                                    <span class="ml-1">{{option.value}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
              </div>
          </th>
          <!-- <th  pSortableColumn="date">
              <div class="flex justify-content-between align-items-center">
                  Date
                  <p-sortIcon field="date"></p-sortIcon>
                  <p-columnFilter type="date" field="date" display="menu" class="ml-auto"></p-columnFilter>
              </div>
          </th> -->
          <!-- <th  pSortableColumn="balance">
              <div class="flex justify-content-between align-items-center">
                  Balance
                  <p-sortIcon field="balance"></p-sortIcon>
                  <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="ml-auto"></p-columnFilter>
              </div>
          </th> -->
          <th   pSortableColumn="github">
            <div class="flex justify-content-between align-items-center">
                Github
                <p-sortIcon field="github"></p-sortIcon>
                <p-columnFilter [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" field="github" matchMode="equals" display="menu" class="ml-auto">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="githubOptions" (onChange)="filter($event.value)" placeholder="Any">
                            <ng-template let-option pTemplate="item">
                                <span [class]="'customer-badge github-' + option">{{option}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </div>
          </th>
          <th   pSortableColumn="parameters">
            <div class="flex justify-content-between align-items-center">
                Parameters
            </div>
          </th>
          <!-- <th  pSortableColumn="activity">
              <div class="flex justify-content-between align-items-center">
                  Activity
                  <p-sortIcon field="activity"></p-sortIcon>
                  <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="ml-auto">
                      <ng-template pTemplate="filter" let-filter="filterCallback">
                          <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3"></p-slider>
                          <div class="flex align-items-center justify-content-between px-2">
                              <span>{{activityValues[0]}}</span>
                              <span>{{activityValues[1]}}</span>
                          </div>
                      </ng-template>
                  </p-columnFilter>
              </div>
          </th> -->
          <th  pSortableColumn="createdAt">
            <div class="flex justify-content-between align-items-center">
                Created
                <p-sortIcon field="createdAt"></p-sortIcon>
                <!-- <p-columnFilter type="date" field="createdAt" display="menu" class="ml-auto"></p-columnFilter> -->
                
            </div>
        </th>
        <th  pSortableColumn="updatedAt">
            <div class="flex justify-content-between align-items-center">
                Updated
                <p-sortIcon field="updatedAt"></p-sortIcon>
                <!-- <p-columnFilter type="date" field="updatedAt" display="menu" class="ml-auto"></p-columnFilter> -->
            </div>
        </th>
        <th>Created By</th>
          <th  ></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-block let-expanded="expanded">
      <tr class="p-selectable-row">
          <td>
              <p-tableCheckbox [value]="block"></p-tableCheckbox>
          </td>
          <td>
              <span class="p-column-title">Name</span>
              <img width="30px" [src]="this.imageUrls[block.image]">
              {{block.name}}
              <button *ngIf="block.desc" style="height:30px;width: 30px;" type="button" pButton pRipple [pRowToggler]="block" class="p-button-text p-button-sm p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>

          </td>
          <td>
              <span class="p-column-title">Lang</span>
              <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + block.country.code" width="30"> -->
              <img onerror="this.src='../../../assets/no_code.png'" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{block.lang | lowercase}}/{{block.lang | lowercase}}-original.svg" width="30">
              <span class="image-text">{{block.lang}}</span>
          </td>
          <!-- <td>
              <span class="p-column-title">Date</span>
              {{block.date | date: 'MM/dd/yyyy'}}
          </td> -->
          <!-- <td>
              {{block.balance | currency:'USD':'symbol'}}
          </td> -->
          <td>
              <span class="p-column-title">Github</span>
              <p-tag *ngIf="block.github" styleClass="bg-dark" icon="pi pi-github" value="{{block.github_path}}"></p-tag>
          </td>
          <td>
              <ng-container *ngFor="let param of block.parameters.concat(block.shared).concat(block.multis).concat(block.booleans)">
                <p-tag *ngIf="param.key" [style.margin-right]="'.5rem'" value="{{param.key}}"></p-tag>
              </ng-container>
              <ng-container *ngFor="let param of block.dynamic">
                <p-tag *ngIf="param.name" [style.margin-right]="'.5rem'" severity="success" value="{{param.name}}"></p-tag>
              </ng-container>
          </td>
          <!-- <td>
              <span class="p-column-title">Activity</span>
              <p-progressBar [value]="block.activity" [showValue]="false"></p-progressBar>
          </td> -->
          <td>
            {{block.createdAt | date:'short'}}
          </td>
          <td>
            {{block.updatedAt | date:'short'}}
          </td>
          <td>
            {{block.user != undefined ? block.user.name : ''}}
          </td>
          <td style="text-align: center">
      
            <div class="multi-button">
                <button class="special" [routerLink]="['/block/create/', block._id]"><i class="fas fa-cog"></i> Edit</button>
                <button class="special" [routerLink]="['/instance/list/', block.name]"><i class="fas fa-cubes"></i> Instances <p-badge [value]="block.instance_count" severity="primary" [style.margin-left]="'.5em'"></p-badge></button>
                <button class="special" [routerLink]="['/block/stats/', block._id]"><i class="fas fa-line-chart"></i> Stats</button>
            </div>

          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-block>
    <tr>
        <td colspan="20">
            {{block.desc}}
      
          </td>
    </tr>
</ng-template>
  <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="20">No blocks found.</td>
      </tr>
  </ng-template>
  </p-table>

<!-- 

    <p-dataView #dv [value]="blocks" [paginator]="true" [rows]="9" filterBy="name"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="listItem">
            <div class="col-12">
                <div class="product-list-item">
                    <img style="max-width: 100px;" [alt]="product.name" onerror="this.src='../../../assets/no_code.png'" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{product.lang | lowercase}}/{{product.lang | lowercase}}-original.svg">

                    <div class="product-list-detail">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.desc}}</div>
                        <p-rating [ngModel]="product.instance_count" [readonly]="true" [cancel]="false"></p-rating>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.lang}}</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">${{product.instance_count}}</span>
                        <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.instance_count === 0"></p-button>
                        <span [class]="'product-badge status-' + product.createdAt">{{product.createdAt | date:'short'}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-product pTemplate="gridItem">
            <div class="col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.lang}}</span>
                        </div>
                        <span [class]="'product-badge status-' + product.createdAt">{{product.createdAt | date:'short'}}</span>
                    </div>
                    <div class="product-grid-item-content">
                        <img  style="max-width: 100px;" [alt]="product.name" onerror="this.src='../../../assets/no_code.png'" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{product.lang | lowercase}}/{{product.lang | lowercase}}-original.svg">
                        <div class="product-name">{{product.name}}</div>
                        <div class="product-description">{{product.desc ? product.desc : "&nbsp;"}}</div>
                        <p-rating [ngModel]="product.instance_count" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">${{product.instance_count}}</span>
                        <p-button icon="pi pi-shopping-cart" [disabled]="product.instance_count === 0"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView> -->


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
