  <div >
    <div>

    <p-fileUpload #primeFileUpload (onProgress)="progressReport($event)" name="myfile[]" customUpload="true" accept="image/*" (uploadHandler)="upload($event)"></p-fileUpload>
    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

    </div>
    <p-table [value]="fileInfos | async" responsiveLayout="scroll"  #dt
    [filterDelay]="0"
    styleClass="p-datatable-sm p-datatable-gridlines"
    [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,25,50]"
    [globalFilterFields]="['name']"
    >
    <ng-template pTemplate="caption">
        <div class="table-header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr>
                <td><img width="70px" [src]="this.imageUrls[event.name]"></td>
                <td>{{event.name}}</td>
                <td>
                    <button mat-raised-button color="primary" (click)="downloadFile(event.name)"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
                    <button mat-raised-button style="color: maroon;" (click)="deleteFile(event.name)"><mat-icon class="mat-18">delete</mat-icon> Delete</button>
                </td>
            </tr>
        </ng-template>
    </p-table>

  </div>





  