<mat-dialog-content class="mat-typography"  style="width:50vw !important">
  <ngx-monaco-editor 
  style="width: 100%;height:calc(60vh - 100px);" 
  [options]="editorOptions" 
  [(ngModel)]="data.content"></ngx-monaco-editor>
  <!-- <ngx-codemirror *ngIf="ready" 
        [options]="{
          lineNumbers: true,
          theme: 'material',
          autoRefresh:true,
          readOnly: true
        }"
        [(ngModel)]="data.content"
    ></ngx-codemirror> -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>