
<div class="row w-100">
  <p-toast></p-toast>
    <div class="col-4">
      <li  class="list-group-item d-flex justify-content-between align-items-center bg-primary">
        Runs:
        <a class="play-btn" id="play-btn" (click)="ani();"></a>

     </li>
      <cdk-virtual-scroll-viewport #scroller itemSize="72" class="content">
        <mat-list class="infinitelist">
            <ng-container *cdkVirtualFor="let item of listItems">
              <mat-divider></mat-divider>
                    <mat-list-item class="listitem" [style.border-left]="getBorder(item.content)">
                     
                    <h3 matLine> <i class="fa fa-hashtag" aria-hidden="true"></i> {{item.title}} <img [src]="item.image" width="25">  </h3> 
                    <p matLine>
                      <small style="font-size:10px">ID: {{item.id}}</small>
                     </p>
                     <small *ngIf="item.user" style="font-size:10px;position: absolute;top: 0;right: 0;">Triggered By: {{item.user}}</small>
                    <p matLine>
                        <span> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Duration: <code>{{item.runtime}}</code>
                          <br>
                          <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Started: <code>{{item.createdAt | date:'short'}}</code>
                      </span>
                        
                    </p>
                    <button mat-icon-button [matMenuTriggerFor]="itemMenu" [matMenuTriggerData]="{name: item.id, instance:this.id,docker:item.id}">
                        <mat-icon>
                        more_vert
                        </mat-icon>
                    </button>
                    <mat-divider></mat-divider>
                    </mat-list-item>
        
            </ng-container>
            <div class="spinner-item">
                <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50" *ngIf="loading != false">     
          </mat-progress-spinner>
              </div>
        </mat-list>
    </cdk-virtual-scroll-viewport>
              
      <mat-menu #itemMenu="matMenu" >
          <ng-template matMenuContent let-name="name">
          <button mat-menu-item (click)="showConsole(name)">
              <i class="fa-solid fa-code" aria-hidden="true"></i> Console Log
          </button>
          <button mat-menu-item (click)="deleteFlowvizInstance(name)">
              <i class="fa-solid fa-times-circle" style="color: red;" aria-hidden="true"></i> Delete
          </button>
        </ng-template>
      </mat-menu>

    </div>
  
    <div class="col-8">

      <mat-toolbar class="d-flex justify-content-center">
        <h1 style="margin-right: 1em;">  <i class="fa-solid fa-chain" aria-hidden="true"></i>&nbsp; {{this.flowForm.get("name").value}}</h1>
        &nbsp;
        <small style="font-size: 10px;">On Error: {{this.flowForm.get("on_error").value}}</small>
        <span class="example-spacer"></span>
        <button pButton pRipple type="button" (click)="show()" icon="pi pi-clock" label="Schedule" class="p-button-outlined"></button>

      </mat-toolbar>
      <p-accordion>
        <p-accordionTab header="Parameters">
          <ul class="list-group">
            <li  class="list-group-item d-flex justify-content-between align-items-center bg-primary">
             Parameters:
          </li>
          <p-messages [(value)]="info" [enableService]="false"></p-messages>
            <p-table [value]="this.Instance.parameters.concat(this.Instance.shared).concat(this.Instance.booleans).concat(this.Instance.multis).concat(this.Instance.dynamic).addNotFirst()" dataKey="key" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                  <tr>
                      <th><i class="fa fa-key" aria-hidden="true"></i> Key</th>
                      <th><i class="fa fa-pencil-square" aria-hidden="true"></i> Value (Click to Override)</th>
                      <th><i class="fa fa-check" aria-hidden="true"></i> Type</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-parameter>
                  <tr [class.hidden]="parameter.first">
                      <td [ngStyle]="{'background-color': parameter.first ? 'lightgrey' : 'initial'}">
                          <p-cellEditor>
                              <ng-template pTemplate="input" *ngIf="parameter.type !== 'dynamic'">
                                  <input pInputText type="text" [(ngModel)]="parameter.key">
                              </ng-template>
                              <ng-template pTemplate="input" *ngIf="parameter.type === 'dynamic'">
                              <input pInputText type="text" [(ngModel)]="parameter.name">
                            </ng-template>
                              <ng-template *ngIf="parameter.type !== 'dynamic'" pTemplate="output">
                                <del *ngIf="parameter.first">{{parameter.key}}</del>
                                <div *ngIf="!parameter.first">{{parameter.key}}</div>
                              </ng-template>
                              <ng-template *ngIf="parameter.type === 'dynamic'" pTemplate="output">
                                <del *ngIf="parameter.first">{{parameter.name}}</del>
                                <div *ngIf="!parameter.first">{{parameter.name}}</div>
                            </ng-template>
                          </p-cellEditor>
                      </td>
                      <td pEditableColumn class="editme" [ngStyle]="{'background-color': parameter.first ? 'lightgrey' : 'initial'}">
                          <p-cellEditor>
                              <ng-template pTemplate="input" *ngIf="parameter.type === 'text'">
                                  <input pInputText [type]="parameter.secret ? 'password' : 'text'" [(ngModel)]="parameter.value"  [disabled]="parameter.first">
                              </ng-template>
                              <ng-template pTemplate="input" *ngIf="parameter.type === 'checkbox'">
                                <mat-checkbox [(ngModel)]="parameter.value" [disabled]="parameter.first">
                                  {{parameter.value}}
                                </mat-checkbox>
                              </ng-template>     
                              <ng-template pTemplate="input" *ngIf="parameter.type === 'multi'">
                                <mat-form-field appearance="outline">
                                  <mat-label>{{parameter.key}}</mat-label>
                                  <mat-select [(ngModel)]="parameter.value"   [disabled]="parameter.first">
                                    <mat-option *ngFor="let choice of parameter.choices.split(',')" [value]="choice">
                                      {{choice}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>    
                              </ng-template>                      
                              
                              <ng-template pTemplate="input" *ngIf="parameter.type === 'dynamic'">
                                
                                <mat-form-field appearance="outline"  >
                                  <mat-label>{{parameter.name}}</mat-label>
                                  <mat-select [(ngModel)]="parameter.output"  [disabled]="parameter.first">
                                    <mat-option *ngFor="let choice of parameter.choices | async" [value]="choice">
                                      {{choice}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>    
                                
                              </ng-template>    
    
    
                              <ng-template pTemplate="output">
                                <del *ngIf="parameter.first">{{parameter.secret ? "*********" : (parameter.value ? parameter.value : (parameter.value == false ? 'false' : parameter.output))}}</del>
                                <div *ngIf="!parameter.first">{{parameter.secret ? "*********" : (parameter.value ? parameter.value : (parameter.value == false ? 'false' : parameter.output))}}</div>
                                
                              </ng-template>
                          </p-cellEditor>
                      </td>
                      <td [ngStyle]="{'background-color': parameter.first ? 'lightgrey' : 'initial'}">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="parameter.type">
                            </ng-template>
                            <ng-template pTemplate="output">
                              <i *ngIf="parameter.type === 'text'" class="fa fa-file-text" aria-hidden="true"></i>  
                              <i *ngIf="parameter.type === 'checkbox'" class="fa fa-check-square" aria-hidden="true"></i>
                              <i *ngIf="parameter.type === 'multi'" class="fa fa-list-ul" aria-hidden="true"></i>
                              <i *ngIf="parameter.type === 'dynamic'" class="fa fa-rocket" aria-hidden="true"></i>
                
                              {{parameter.type}}
                              <ng-container *ngIf="parameter.type === 'dynamic'">
                                <p-progressSpinner [style]="{width: '20px', height: '20px'}" *ngIf="!(parameter.choices | async)"></p-progressSpinner>
                              </ng-container>
                            </ng-template>
                        </p-cellEditor>
                    </td>                            
                  </tr>
              </ng-template>
            </p-table>
    
          </ul> 
        </p-accordionTab>
      </p-accordion>
    
      

      <div class="chart-container card">

        <mat-toolbar class="d-flex justify-content-between">
          <h1><i class="fa fa-hashtag" aria-hidden="true"></i> {{this.runNumber}}</h1>
        </mat-toolbar>
        <p-progressBar *ngIf="this.subscription ? !this.subscription.closed : false" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>

        <ngx-graph
          [links]="links"
          [nodes]="nodes"
          [layout]="layout"
          [curve]="curve"
          [enableZoom]="true"
          [draggingEnabled]="false"
        >
          <ng-template #defsTemplate>
              <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
              </svg:marker>
          </ng-template>
      
          <ng-template #clusterTemplate let-cluster>
              <svg:g class="node cluster">
              <svg:rect
                  rx="5"
                  ry="5"
                  [attr.width]="cluster.dimension.width"
                  [attr.height]="cluster.dimension.height"
                  [attr.fill]="cluster.data.color"
              />
              </svg:g>
          </ng-template>
      
          <ng-template #nodeTemplate let-node>
<!-- 
            (click)="onNodeClick($event)"
            (dblclick)="onNodeDblClick($event)" -->
              <svg:g *ngIf="node.label !== '+' && node.label !== 'Start'"
      
              class="node"
              ngx-tooltip
              [tooltipPlacement]="'top'"
              [tooltipType]="'tooltip'"
              [tooltipTitle]="node.label"
              >

              <circle cx="40" cy="40" r="40"  id="{{node.label}}rect"
              [attr.fill]="'lightgrey'"
              [class.pulsing]="node.done==false"
              [class.error]="node.error == true"
              [class.noterror]="node.error == false && node.skipped == false"
              [class.skipped]="node.error == false && node.skipped == true"
              [attr.stroke-width]="5"
            
              />
           
     
              <svg xmlns="http://www.w3.org/2000/svg">
                <foreignObject width="5em" height="5em" style="cursor: pointer;"  cdkOverlayOrigin #trigger="cdkOverlayOrigin"
                (click)="toggle(trigger)"
                >

                
                <ng-template
                  class="overlay"
                  cdkConnectedOverlay 
                  [cdkConnectedOverlayOrigin]="triggerOrigin"
                  [cdkConnectedOverlayHasBackdrop]="true"
                  [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
                  (backdropClick)="isOpen=false" 
                  [cdkConnectedOverlayOpen]="isOpen">


                  <mat-list role="list" class="bg-white border border-black">
                    <mat-list-item role="listitem" [routerLink]="['/instance/run/', triggerNode.instance_id, triggerNode.run_id]"><i class="fa fa-external-link" aria-hidden="true"></i> &nbsp; Instance Page</mat-list-item>
                    <mat-list-item role="listitem" (click)="openDialog(triggerNode.run_id)"><i class="fa fa-code" aria-hidden="true"></i> &nbsp; Console Log</mat-list-item>
                  </mat-list>

            
                
                 
                </ng-template>

                  <!-- <div xmlns="http://www.w3.org/1999/xhtml"  class="text-center text-white" style="background-color: black;">
                   
                      {{node.label}} 
                  </div> -->
                  <div xmlns="http://www.w3.org/1999/xhtml" class="text-center" style="margin-top: 1em;">
                    <!-- <img *ngIf="node.runtime == undefined" width="30px" src="assets/clock.gif"> -->
                   <i *ngIf="node.runtime != undefined" class="fa fa-clock-o" aria-hidden="true"></i> 
                   {{node.runtime != undefined ? node.runtime+'s' : ' '}}
                
                    <p class="text-black fifty-chars pl-2">{{node.data.name}}</p>
                  </div>
                    <!-- <img width="20px" [src]="this.imageUrls[node.data.image]" style="position: absolute; top:0; left:0"> -->
                </foreignObject>
              </svg>



              </svg:g>
              <svg:g *ngIf="node.label === 'Start'"
              class="node"
              ngx-tooltip
              [tooltipPlacement]="'top'"
              [tooltipType]="'tooltip'"
              [tooltipTitle]="node.label"
              >
         
                <svg:rect
                    [attr.width]="'5em'"
                    [attr.height]="'5em'"
                    [attr.fill]="'black'"
                    id="{{node.label}}rect"
                />
    
                <svg:text alignment-baseline="central" [attr.x]="14" [attr.y]="node.dimension.height / 2" [attr.fill]="'white'" style="font-size:x-large;">
                  {{node.label}} 
                </svg:text>
          
              </svg:g>
   
          </ng-template>
      
          <ng-template #linkTemplate let-link>
              <svg:g class="edge">
              <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
              <svg:text class="edge-label" text-anchor="middle">
                  <textPath
                  class="text-path"
                  [attr.href]="'#' + link.id"
                  [style.dominant-baseline]="link.dominantBaseline"
                  startOffset="50%"
                  >
                  <!-- {{link.label}} -->
                  </textPath>
              </svg:text>
              </svg:g>
          </ng-template>
      
        </ngx-graph>


      </div>
    </div>
    <!-- <div class="details text-center">
     
      <mat-toolbar class="d-flex justify-content-center">
        <i class="fa-solid fa-info-circle" aria-hidden="true"></i> <h1 style="margin-right: 1em;">&nbsp;Details</h1>
 
      </mat-toolbar>  

      <ngx-codemirror [options]="{lineNumbers: true, theme: 'material',lineWrapping: true,matchBrackets: true,readOnly:true}" (keydown)="fullScreen($event, this);" [(ngModel)]="output"></ngx-codemirror>

    </div> -->
  </div>


