
<form [formGroup]="blockForm" class="container" (ngSubmit)="onSubmit()">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="blockForm" errorMessage="Name and Language are required.">

      <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
        <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
      </div>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Details
            </mat-panel-title>
            <mat-panel-description>
              Type the Block's name and Code Language
              <mat-icon>edit</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div class="d-flex flex-row">

        
          <mat-form-field class="col-3" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="My Block" formControlName="name" required>
          </mat-form-field>
  
          <mat-form-field class="col-3" appearance="fill">
            <mat-label>Language</mat-label>
            <mat-select formControlName="lang">
              <mat-option [value]="lang" *ngFor="let lang of Language">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{lang}}/{{lang}}-original.svg" width="30" height="30">{{lang}}
              </mat-option>
            </mat-select>

          </mat-form-field> 

          <mat-form-field class="col-3" appearance="fill">
           

            <mat-label>Icon</mat-label>

            <mat-select formControlName="image">

              <mat-option [value]="image.name" *ngFor="let image of Images | async">
                <img width="30px" [src]="this.imageUrls[image.name]"> {{image.name}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix ><img width="30px" style="margin-bottom:25px;" [src]="this.imageUrls[this.blockForm.get('image').value]"></mat-icon>

          </mat-form-field> 

          <div class="card col-2" style="margin-left:1em; height:3.7em">
            <div class="card-body">
              <mat-checkbox class="example-margin" id="prescript_check" formControlName="prescript" [(ngModel)]="prescript_enabled" [checked]="prescript_enabled">Enabled a Pre-Script</mat-checkbox>
            </div>
          </div>

          </div>
            <mat-form-field  class="w-100 pt-2 h-25" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea class="desc" matInput placeholder="Description" formControlName="desc"></textarea>
            </mat-form-field>
      
        </mat-expansion-panel>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Parameters
            </mat-panel-title>
            <mat-panel-description>
              Construct the Parameters of your Block
              <mat-icon>list</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="d-flex justify-content-start mb-2 p-2 text-white" style="background-color: #0B5AA2;">
            <button class="btn btn-outline-light btn-sm" style="margin-right:1em" type="button" (click)="addItem()"><i class="fa fa-file-text-o" aria-hidden="true"></i> Add Text Parameter</button>
            <button class="btn btn-outline-light btn-sm" style="margin-right:1em" type="button" (click)="addBooleanItem()"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Add Boolean Parameter</button>
            <button class="btn btn-outline-light btn-sm" type="button" (click)="addMultiItem()"><i class="fa fa-check-square" aria-hidden="true"></i> Add Multi-Choice Parameter</button>
          </div>
          <!-- <pre>{{blockForm.value | json}}</pre> -->
          <div class="row">
            <div class="col-7">
              <table class="table table-bordered table-hover table-sm table-responsive">
                <thead class="thead-default">
                  <tr>
                    <th><i class="fa fa-hashtag" aria-hidden="true"></i> Key</th>
                    <th><i class="fa fa-edit" aria-hidden="true"></i> Default Value</th>
                    <th><i class="fa fa-key" aria-hidden="true"></i> Secret</th>
                    <th><i class="fa fa-times" aria-hidden="true"></i> Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                    
                    <tr formArrayName="parameters"
                      *ngFor="let item of blockForm.get('parameters')['controls']; let i = index;">
                      <td [formGroupName]="i" class="flex-grow-1">
                        <mat-form-field appearance="outline" id="compact-input">
                          <mat-label>Key</mat-label>
                          <input matInput formControlName="key" placeholder="key">
                          <mat-icon matSuffix>tag</mat-icon>
                        </mat-form-field>
                      </td>
                      <td [formGroupName]="i" class="flex-grow-1">
                        <mat-form-field appearance="outline" id="compact-input">
                          <mat-label>Value</mat-label>
                          <input matInput class="firstvalue" formControlName="value" [id]="i" placeholder="value">
                          <mat-icon matSuffix>edit_note</mat-icon>
                        </mat-form-field>
                      </td>
                      <td [formGroupName]="i" class="text-center align-middle"> <mat-checkbox (change)="this.togglePass(i,item.controls.secret.value)" formControlName="secret" color="primary"></mat-checkbox></td>
                      <td class="text-center align-middle"><button type="button" (click)="removeItem(i)" class="btn-danger" aria-label="Close">
                        <i class="fa-solid fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr formArrayName="booleans" 
                    *ngFor="let item of blockForm.get('booleans')['controls']; let i = index;"
                    >
                
                      <td [formGroupName]="i" class="">
                        <mat-form-field appearance="outline" id="compact-input">
                          <mat-label>Key</mat-label>
                          <input matInput formControlName="key" placeholder="key">
                          <mat-icon matSuffix>tag</mat-icon>
                        </mat-form-field>
                      </td>
                      <td [formGroupName]="i" class="text-center align-middle"><mat-checkbox formControlName="value" color="primary"></mat-checkbox></td>
                      <td></td>
                     
                        <td class="text-center align-middle"><button type="button" (click)="removeItemBoolean(i)" class="btn-danger" aria-label="Close">
                          <i class="fa-solid fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                    <tr formArrayName="multis"
                    *ngFor="let item of blockForm.get('multis')['controls']; let i = index;"
                    >
                
                      <td [formGroupName]="i" class="">
                        <mat-form-field appearance="outline" id="compact-input">
                          <mat-label>Key</mat-label>
                          <input matInput formControlName="key" placeholder="key">
                          <mat-icon matSuffix>tag</mat-icon>
                        </mat-form-field>
                      </td>
                      <td [formGroupName]="i" class="text-center align-middle">
                        <mat-form-field appearance="outline"  id="compact-input">
                          <mat-label>Multi Choice</mat-label>
                          <input matInput pattern="^[\w,]+$"  formControlName="value" placeholder="value1,value2">
                          <mat-icon matSuffix>splitscreen</mat-icon>
                        </mat-form-field>
                      </td>
                        <td></td>
                     
                        <td class="text-center align-middle"><button type="button" (click)="removeItemMulti(i)" class="btn-danger" aria-label="Close">
                          <i class="fa-solid fa-times" aria-hidden="true"></i></button></td>
                    </tr>
                  </tbody>
              </table>
        
            </div>

            <div class="col" cdkDropListGroup>
              <div style="background-color:#0b59a2a2;" class="w-100 d-flex justify-content-center">
                <label class="p-2 text-white">Shared Parameters - Drag From the List Below</label>
                <!-- <button class="btn btn-outline-dark btn-sm" type="button" (click)="addItemShared()">Add Parameter</button> -->
              </div>
              <!-- <pre>{{blockForm.value | json}}</pre> -->
           
              <div
              class="example-chip items-body"
              cdkDropList 
              cdkDropListOrientation="vertical"
              cdkDropListSortingDisabled="true"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListData]="sharedParams"
              
              infinite-scroll
              [infiniteScrollDistance]="scrollDistance"
              [scrollWindow]="false"
              [horizontal]="false"
              [infiniteScrollUpDistance]="scrollUpDistance"
              [infiniteScrollThrottle]="throttle"
              (scrolled)="onScrollDown($event)"
              (scrolledUp)="onUp($event)">
  
             
              <div class="items-body-content example-box" style="max-height: 3em; border: 1px dotted black;"  *ngFor="let sha of sharedParams" cdkDrag>
                <!-- <span *ngIf="sha.secret">{{sha.key}} - ***</span>
                <span *ngIf="!sha.secret">{{sha.key}} - {{sha.value}}</span> -->
                <span>{{sha.key}}</span>
                <i class="fa-solid fa-hand-grab-o"></i>
              </div>
  
        
              </div>
                         
              <div class="border border-dark text-center justify-content-center" style="min-height: 20em;display: flex;align-items: center;">
                <mat-chip-list *ngIf="blockForm.get('shared')['controls'][0] == undefined" class="text-center">
                  <mat-chip color="primary" selected>Drag a Shared Parameter Here</mat-chip>
                </mat-chip-list>
                
                <table style="align-self: flex-start;" *ngIf="blockForm.get('shared')['controls'][0] != undefined" class="table table-bordered table-hover table-sm table-responsive">
                  <thead class="thead-default">
                    <tr>
                      <th><i class="fa fa-hashtag" aria-hidden="true"></i> Key</th>
                      <th><i class="fa fa-edit" aria-hidden="true"></i> Value</th>
                      <th><i class="fa fa-key" aria-hidden="true"></i> Secret</th>
                      <th><i class="fa fa-times" aria-hidden="true"></i> Delete</th>
                    </tr>
                  </thead>
                  <tbody
                  cdkDropList 
                  cdkDropListOrientation="vertical"
                  cdkDropListSortingDisabled="true"
                  (cdkDropListDropped)="drop($event)"
                  [cdkDropListData]="shared"
                  >
                
                    <tr formArrayName="shared" cdkDrag
                    *ngFor="let item of blockForm.get('shared')['controls']; let i = index;"
                    >
                
                      <td [formGroupName]="i" class="flex-grow-1"><input class="form-control" formControlName="key" required disabled></td>
                      <td [formGroupName]="i" class="flex-grow-1"><input class="form-control" [id]="i+'shared'" formControlName="value" required disabled></td>
                      <td [formGroupName]="i" class="text-center align-middle"> <mat-checkbox disabled (change)="this.togglePass(i+'shared',item.controls.secret.value)" formControlName="secret" color="primary"></mat-checkbox></td>
              
                    
                        <td class="text-center align-middle"><button type="button" (click)="removeItemShared(i)" class="btn-danger" aria-label="Close">
                          <i class="fa-solid fa-times" aria-hidden="true"></i></button></td>
                      </tr>
                  </tbody>
                </table>   
              </div>    
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      



        <ng-template matStepLabel>Fill in the Block's Information</ng-template>
    
         
       
    

    </mat-step>
    <mat-step [stepControl]="blockForm" [optional]="!prescript_enabled" *ngIf="prescript_enabled">
  
      <ng-template matStepLabel>Pre-Script</ng-template>
      <div>
        <button mat-button color="primary" matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
      </div>
      <ngx-codemirror
      formControlName="prescript"
        [options]="{
          lineNumbers: true,
          theme: 'material'
        }"
        
      ></ngx-codemirror>

    </mat-step>    
    <mat-step [stepControl]="blockForm" errorMessage="Code is required." label="Fill in the Block's Code">
      <div>
        <button mat-button color="primary" matStepperPrevious type="button">Back</button>
        <button mat-raised-button color="primary" matStepperNext type="button">Next</button>
      </div>
      <div class="d-flex flex-row">
        <ngx-codemirror class="flex-grow-1 "
        formControlName="script"
          [options]="ngxOptions"
        ></ngx-codemirror>
        <div class="centered-text">
          <mat-chip-list>
              <mat-chip>OR</mat-chip>
          </mat-chip-list>
        </div>
        <div class="list-group w-25" *ngIf="this.githubConnected">
          <mat-grid-list cols="1" rowHeight="fit" style="background-color: #0B5AA2;" [style.height]="'3em'" [gutterSize]="'1px'">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-grid-tile-header  class="d-flex flex-row justify-content-between">
                      <i class="fa fa-github" aria-hidden="true"></i>
                      &nbsp;
                      Connect to a Github
                   <button mat-mini-fab color="warning" (click)="disconnectGit()" style="background-color: maroon;"><mat-icon style="color: white;">link_off</mat-icon></button>
                    
                  </mat-grid-tile-header>
              </mat-grid-tile>
          </mat-grid-list>
          <a [id]="git.path" (click)="connectGit(git)" *ngFor="let git of githubList" class="choosegit list-group-item list-group-item-action">{{git.path}}</a>
        </div>
        <div class="list-group w-25" *ngIf="!this.githubConnected">
          <mat-grid-list cols="1" rowHeight="fit" style="background-color: #0B5AA2;" [style.height]="'3em'" [gutterSize]="'1px'">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-grid-tile-header  class="d-flex flex-row justify-content-between">
                      <i class="fa fa-github" aria-hidden="true"></i>
                      Github Disconnected
                  </mat-grid-tile-header>
              </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>



     
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Name</th>
              <th>Language</th>
              <th>Description</th>
              <th>Parameters</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ blockForm.controls['name'].value }}</td>
            <td>{{ blockForm.controls['lang'].value }}</td>
            <td>{{ blockForm.controls['desc'].value }}</td>
            <td>
              <div *ngIf='blockForm.controls["parameters"] || blockForm.controls["shared"]'>

                <mat-chip-list aria-label="Parameters">
                  <ng-container aria-label="Parameters" *ngIf='blockForm.controls["parameters"].value[0].key != ""'>
                    <mat-chip color="primary" selected *ngFor="let param of blockForm.controls['parameters'].value">{{param.key}}</mat-chip>
                  </ng-container>
                  <ng-container aria-label="Parameters" *ngIf='blockForm.controls["parameters"].value[0].key == "" && blockForm.controls["shared"].length == 0 && blockForm.controls["booleans"].length == 0 && blockForm.controls["multis"].length == 0'>
                    <mat-chip *ngFor="let param of blockForm.controls['parameters'].value">No Parameters</mat-chip>
                  </ng-container>
                  <ng-container aria-label="Parameters" *ngIf='blockForm.controls["shared"].length != 0'>
                    <mat-chip color="accent" selected *ngFor="let param of blockForm.controls['shared'].value">{{param.key}}</mat-chip>
                  </ng-container>
                  <ng-container aria-label="Parameters" *ngIf='blockForm.controls["booleans"].length != 0'>
                    <mat-chip color="warning" selected *ngFor="let param of blockForm.controls['booleans'].value">{{param.key}}</mat-chip>
                  </ng-container>
                  <ng-container aria-label="Parameters" *ngIf='blockForm.controls["multis"].length != 0'>
                    <mat-chip color="secondary" selected *ngFor="let param of blockForm.controls['multis'].value">{{param.key}}</mat-chip>
                  </ng-container>
                </mat-chip-list>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-primary btn-lg" type="submit" *ngIf="this.id == ''">Create</button>
        <button class="btn btn-primary btn-lg" type="submit" *ngIf="this.id != ''">Update</button>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>