
  <div class="container">
    <mat-toolbar class="d-flex justify-content-center">
      <i class="fa-solid fa-cube" aria-hidden="true"></i> <h1 style="margin-right: 1em;">&nbsp;Blocks</h1>
  </mat-toolbar>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(ngModel)]="this.dataSource.filter">
      </mat-form-field>
    </div>
    
    <div class="example-container mat-elevation-z8">
      <mat-paginator [showFirstLastButtons]="true" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <mat-table [dataSource]="dataSource" matSort>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="lang">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Langauge</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.lang"> <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{row.lang | lowercase}}/{{row.lang | lowercase}}-original.svg" width="30" height="30">&nbsp;{{row.lang}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="desc">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.desc">{{row.desc}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="configure">
          <mat-header-cell *matHeaderCellDef>Configure</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.configure">
            <button mat-button [routerLink]="['/instance-list/', row.name]"><i class="fa fa-cubes"></i></button>
            <button mat-button [routerLink]="['/create-block/', row._id]"><mat-icon aria-hidden="false" style="color:darkslateblue;">edit</mat-icon></button>
            <button mat-button (click)="removeBlock(row._id)"><mat-icon aria-hidden="false" style="color: maroon;">delete</mat-icon></button>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="parameters">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Parameters</mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.parameters">   
          
            <mat-chip-list aria-label="Parameters">
              <ng-container aria-label="Parameters" *ngIf='row.parameters[0].key != ""'>
                <mat-chip color="primary" selected *ngFor="let param of row.parameters">{{param.key}}</mat-chip>
              </ng-container>
              <ng-container aria-label="Parameters" *ngIf='row.parameters[0].key == "" && row.shared.length == 0'>
                <mat-chip   *ngFor="let param of row.parameters">No Parameters</mat-chip>
              </ng-container>
              <ng-container aria-label="Parameters" *ngIf='row.shared.length != 0'>
                <mat-chip color="accent" selected *ngFor="let param of row.shared">{{param.key}}</mat-chip>
              </ng-container>
            </mat-chip-list>
    
      


          </mat-cell>

   


        </ng-container>
  
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="chosen-row" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
   
    </div>
  
  </div>
