
<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
<div class="container p-4">
  <div class="card">
    <div class="card-header">List of Artifacts</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of fileInfos | async"
    >
      <li class="list-group-item d-flex align-items-center">
        <mat-chip-list>
            <mat-chip color="primary">{{ file.name }}</mat-chip>
        </mat-chip-list>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" (click)="downloadFile(file.name)"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
        <button mat-raised-button style="color: maroon;" (click)="deleteFile(file.name)"><mat-icon class="mat-18">delete</mat-icon> Delete</button>
      </li>
    </ul>
  </div>
</div>
