
.CodeMirror {
    height:80vh;
    width: 100%;
  }
.desc{
  min-height: 50vh;
}

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .chosen-row:hover {
    background-color: lightgray;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  .mat-standard-chip {    
    min-width: auto !important;
    min-height: 3em !important;
  }
  .mat-form-field-flex {
    padding-top: 0;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }