
<form [formGroup]="instanceForm" class="container card p-0" (ngSubmit)="onSubmit()">

  <p-toolbar class="w-100">
    <div class="">
      <button class="btn  btn-lg btn-success" type="submit" *ngIf="this.id === ''"><i class="fa fa-plus" aria-hidden="true"></i> Create</button>
      <button class="btn  btn-lg btn-success" type="submit" *ngIf="this.id !== ''"><i class="fa fa-pencil" aria-hidden="true"></i> Update</button>
    </div>

  </p-toolbar>
<div class="row p-2">

  <div class="col-3" align="center">

    <p-listbox
     [options]="Block" 
     (onClick)="onClickRow($event)" 
     [(ngModel)]="selectedBlock" 
     optionLabel="name" 
     [filter]="true"
     [style]="{'width':'15rem','height':'100%'}">
     <ng-template pTemplate="header">
      Choose a Block:
     </ng-template>
     <ng-template let-block pTemplate="item">
      <div>
          <div><img width="30px" [src]="this.imageUrls[block.image]">
            {{block.name}}</div>
      </div>
    </ng-template>
    
    </p-listbox>

  </div>
  <div class="col-9" align="center">
   

    <div class="grid p-fluid" align="center">
      <div class="col-12">
          <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
              <input type="text" pInputText placeholder="name" formControlName="name">         
          </div>
      </div>
      

      <div class="col-12">
        <p-dropdown  appendTo="body" [options]="Images | async"  [(ngModel)]="selectedImage"  formControlName="image" optionLabel="name" optionValue="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select an Icon">
            <ng-template pTemplate="selectedItem">
                <div class="d-flex align-middle"  *ngIf="selectedImage">
                  <img width="30px" style="margin-bottom:25px;" [src]="this.imageUrls[selectedImage]">
                  <div>{{selectedImage}}</div>
                </div>
            </ng-template>
            <ng-template let-icon pTemplate="item">
                <div class="d-flex align-middle">
                  <img width="30px" style="margin-bottom:25px;" [src]="this.imageUrls[icon.name]">
                  <div>{{icon.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>
      </div>


      <div class="col-12">
        <div class="p-inputgroup">
          <textarea pInputTextarea placeholder="Description" formControlName="desc"></textarea>
        </div>
      </div>
      <div class="col-12">

        <div class="d-flex justify-content-between pb-2">
          <label>Parameters</label>
          <!-- <button class="btn btn-outline-dark btn-sm" type="button" (click)="addItem()">Add Parameter</button> -->
        </div>
        <table class="table table-bordered table-hover table-sm table-responsive">
          <thead class="thead-default">
            <tr>
              <th>Key</th>
              <th>Value</th>
              <th>Secret</th>
              <!-- <th>Delete</th> -->
            </tr>
            </thead>
            <tbody>
         
              <tr formArrayName="parameters"
              *ngFor="let item of instanceForm.get('parameters')['controls']; let i = index;"
              >
              
          
                <td [formGroupName]="i" class="flex-grow-1">
                  
                  <input class="form-control" formControlName="key" disabled>

           
                
                </td>
                <td [formGroupName]="i" class="flex-grow-1">
                  <input class="form-control" [id]="i" formControlName="value">
                
                </td>
                <td [formGroupName]="i" class="text-center align-middle"> <mat-checkbox disabled (change)="this.togglePass(i,item.controls.secret.value)" formControlName="secret" color="primary"></mat-checkbox></td>
         
<!--                      
                  <td class="text-center align-middle"><button type="button" (click)="removeItem(i)" class="btn-danger" aria-label="Close">
                    <i class="fa-solid fa-times" aria-hidden="true"></i></button></td> -->
                </tr>
                <tr formArrayName="shared"
                *ngFor="let item of instanceForm.get('shared')['controls']; let i = index;"
                >
            
                  <td [formGroupName]="i" class="flex-grow-1"><input class="form-control" formControlName="key" disabled></td>
                  <td [formGroupName]="i" class="flex-grow-1"><input class="form-control" [id]="i+'shared'" formControlName="value" disabled></td>
                  <td [formGroupName]="i" class="text-center align-middle"> <mat-checkbox disabled (change)="this.togglePass(i+'shared',item.controls.secret.value)" formControlName="secret" color="primary"></mat-checkbox></td>
           
<!--                      
                    <td class="text-center align-middle"><button type="button" (click)="removeItem(i)" class="btn-danger" aria-label="Close">
                      <i class="fa-solid fa-times" aria-hidden="true"></i></button></td> -->
                </tr>
                <tr formArrayName="booleans" 
                *ngFor="let item of instanceForm.get('booleans')['controls']; let i = index;"
                >
            
                  <td [formGroupName]="i" class="">
                    <input disabled class="form-control" formControlName="key" placeholder="key">
                  </td>
                  <td [formGroupName]="i" class="text-center align-middle"><mat-checkbox formControlName="value" color="primary"></mat-checkbox></td>
                  <td></td>

                </tr>
                <tr formArrayName="multis"
                *ngFor="let item of multisOptions; let i = index;"
                >
            
                  <td [formGroupName]="i" class="">
                      <input disabled class="form-control" formControlName="key" placeholder="key">
                  </td>
                  <td [formGroupName]="i" class="text-center align-middle">
                    <mat-select formControlName="value" placeholder="value">
                        <mat-option *ngFor="let choice of item.value.split(',')" [value]="choice">
                            {{choice}}
                        </mat-option>
                    </mat-select>
                  
                  </td>
                    <td></td>

                </tr>

                <tr formArrayName="dynamic"
                *ngFor="let item of dynamicOptions; let i = index;"
                >
                  <td [formGroupName]="i" class="">
                
                      <input disabled class="form-control" formControlName="name" placeholder="name">
                  </td>
                  <td [formGroupName]="i" class="text-center align-middle">
                    <mat-select formControlName="output" placeholder="output" *ngIf="item.output != undefined">
                        <mat-option *ngFor="let choice of item.output" [value]="choice">
                            {{choice}}
                        </mat-option>
                    </mat-select>
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" *ngIf="item.output == undefined"></p-progressSpinner>
                  
                  </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

      </div>
    </div>
    




      <table class="table table-hover">
        <thead>
            <tr>
              <th>Name</th>
              <th>Parameters</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ instanceForm.controls['name'].value }}</td>
            <td>
              
              
              <mat-chip-list aria-label="Parameters">
                <ng-container aria-label="Parameters" *ngIf='instanceForm.controls["parameters"].value.length != 0'>
                  <mat-chip color="primary" selected *ngFor="let param of instanceForm.controls['parameters'].value">{{param.key}}={{param.secret ? '****' : param.value}}</mat-chip>
                </ng-container>
                <ng-container aria-label="Parameters" *ngIf='instanceForm.controls["parameters"].value.length == 0 && instanceForm.controls["shared"].value.length == 0
                && instanceForm.controls["booleans"].value.length == 0 && instanceForm.controls["multis"].value.length == 0'>
                  <mat-chip>No Parameters</mat-chip>
                </ng-container>
                <ng-container aria-label="Parameters" *ngIf='instanceForm.controls["shared"].value.length != 0'>
                  <mat-chip color="primary" selected *ngFor="let param of instanceForm.controls['shared'].value">{{param.key}}={{param.secret ? '****' : param.value}}</mat-chip>
                </ng-container>
                <ng-container aria-label="Parameters" *ngIf='instanceForm.controls["booleans"].value.length != 0'>
                  <mat-chip color="primary" selected *ngFor="let param of instanceForm.controls['booleans'].value">{{param.key}}={{param.value}}</mat-chip>
                </ng-container>
                <ng-container aria-label="Parameters" *ngIf='instanceForm.controls["multis"].value.length != 0'>
                  <mat-chip color="primary" selected *ngFor="let param of instanceForm.controls['multis'].value">{{param.key}}={{param.value}}</mat-chip>
                </ng-container>
                <ng-container aria-label="Parameters" *ngIf='instanceForm.controls["dynamic"].value.length != 0'>
                  <mat-chip color="accent" selected *ngFor="let param of instanceForm.controls['dynamic'].value">{{param.name}}={{param.output}}<p-progressSpinner [style]="{width: '20px', height: '20px'}" *ngIf="param.output == undefined"></p-progressSpinner></mat-chip>
                </ng-container>
              </mat-chip-list>

            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

</form>