:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-or-folder {
  overflow: hidden;
  /* min-width: 150px !important; */
  /* border: 1px solid black; */
}

.container{
  overflow: hidden;
}

.file-or-folder-icon {
  width: 80px;
  height: 80px;
  font-size: 75px;
  
}

.file-icon {
  text-align: center;
  width: 80px;
  height: 80px;
  font-size: 60px;


}
.file-or-folder-icon,.file-icon{
  transition: transform 250ms;
}

.file-icon:hover,.file-or-folder-icon:hover{
  transform: translateY(-4px);
}
.pointer {
  cursor: pointer !important;
  color:rgb(48,60,84)
}

.spacer {
  flex: 1 1 auto;
}

/* for block elements */
.file-icon {
  display:grid;
  padding-top: 12px;
}

.file-icon > * {
  grid-column-start: 1;
  grid-row-start: 1;
}
.littleimage{
  width: 30px;
  position: absolute;
  top: 10px;
  right: 5px;
}
.content2 {
  height: calc(100vh - 64px);
  overflow: auto;

}

.p-panel-header{
  max-height: 10px !important;
}