<mat-toolbar>
  <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">arrow_back</mat-icon>
  <span style="margin-left: 8px">{{path || 'User Portal'}}</span>
  <span class="spacer"></span>
  <button mat-mini-fab color="black" (click)="openNewFileDialog()">
    <mat-icon class="pointer">add_link</mat-icon>
  </button>  
  <button mat-mini-fab color="black" style="margin-left: 8px" (click)="openNewFolderDialog()">
    <mat-icon class="pointer">create_new_folder</mat-icon>
  </button>


</mat-toolbar>

<div fxFlex fxLayout="row" fxLayoutAlign="space-evenly">
  <div class="content2" fxFlex fxLayout="row" id="box" #box>
    <mat-grid-list [cols]="columns" rowHeight="230px" gutterSize="10px" fxFlex class="m-2"
    (window:resize)="setColumns()"
    >
      <mat-grid-tile 
      *ngFor="let element of fileElements" 
      class=file-or-folder>
      
        <p-panel class="w-100">
          <ng-template pTemplate="header">
            <!-- <img width="30px p-0" *ngIf="element.image" [src]="this.imageUrls[element.image]"> -->
           
            <span  class="pi pi-reply p-panel-header-icon" [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}"></span>
            <span  class="pi pi-pencil p-panel-header-icon"  (click)="openRenameDialog(element)"></span>
            <span class="example-spacer"></span>
            <span  class="pi pi-trash p-panel-header-icon" style="color:maroon"  (click)="deleteElement(element)"></span>
          </ng-template>
          <ng-template pTemplate="footer">
              <c-chart height="30" style="width: 100%;" [data]="{
                labels: ['1', '2', '3', '4', '5','6','7','8'],
                datasets: [
                  {
                    label: 'Bad',
                    backgroundColor: 'maroon',
                    data: element.lastruns_fail
                  },
                  {
                    label: 'Good',
                    backgroundColor: 'green',
                    data: element.lastruns_success
                  }
                ]
              }" [options]="chartOptions" type="bar"></c-chart>

            <!-- <span  class="pi pi-cog p-panel-header-icon"  [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span> -->

            
          </ng-template>
          
           <span [matMenuTriggerFor]="rootMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span>
       
          <div fxLayout="column" fxLayoutAlign="space-between center" (click)="navigate(element)" (contextmenu)="openMenu($event,element, menuTrigger)">
            <b>{{element.name}}</b>
            <div *ngIf="element.isFolder; else elseBlock"><mat-icon class="file-or-folder-icon pointer">folder</mat-icon></div>
            <ng-template #elseBlock>
              <mat-icon 
                class="file-icon pointer"
                [routerLink]="['/'+element.type.replace('flowviz','dag').replace('flow','step')+'/'+(element.type=='block'?'create':'run')+'/', element.fileid]">
                <i class="fa-solid fa-code" [ngClass]='{"fa-code":element.type=="block","fa-play-circle":element.type!="block"}'></i>
              </mat-icon>
              <!-- <img class="littleimage" *ngIf="element.image" [src]="this.imageUrls[element.image]"> -->

            </ng-template>
   
   
          </div>

        </p-panel>
      
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>


<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}">
      <mat-icon>open_with</mat-icon>
      <span>Move To</span>
    </button>
    <button mat-menu-item (click)="openRenameDialog(element)">
      <mat-icon>edit</mat-icon>
      <span>Rename</span>
    </button>
    <button mat-menu-item (click)="deleteElement(element)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
  <ng-template matMenuContent let-self="self">
    <ng-container *ngFor="let element of fileElements">
      <button *ngIf="element.isFolder && element.id !== self.id" mat-menu-item (click)="moveElement(self, element)">{{element.name}}</button>
    </ng-container>
  </ng-template>
</mat-menu>