::ng-deep .p-submenu-list{
  background-color: #3f51b5 !important;

}
::ng-deep a[role="menuitem"] > .p-menuitem-text{
  color: white !important;

}

::ng-deep a[role="menuitem"] > .p-menuitem-icon{
  color: white !important;

}
::ng-deep a[role="menuitem"] >.p-submenu-icon{
  color: white !important;

}