  <div class="middle" fxLayout="row" fxLayoutAlign="center center">


    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="text-center mb-5">
          <img src="assets/socrates.png" alt="Image" height="50" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
          <span class="text-600 font-medium line-height-3">Don't have an account?</span>
          <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Contact your Administrator</a>
      </div>
    
      <form (submit)="login()">
          <label for="email" class="block text-900 font-medium mb-2">Email</label>
          <input type="email" pInputText name="email"  class="w-full mb-3" placeholder="Enter email" [(ngModel)]="credentials.email">
    
          <label for="password" class="block text-900 font-medium mb-2">Password</label>
          <input type="password" pInputText name="password" class="w-full mb-3" placeholder="Password" [(ngModel)]="credentials.password">
    
          <div class="flex align-items-center justify-content-between mb-6"  *ngIf="error">
              <div class="flex align-items-center">
                  <!-- <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox> -->
                  <label for="rememberme1">{{ error }}</label>
              </div>
              <!-- <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a> -->
          </div>
    
          <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
        </form>
    </div>
  </div>
  
  
  