
<c-row>
  <c-col xs>
    <c-card class="">
      <c-card-header>Statistics</c-card-header>
      <c-card-body>
        <c-row>
            <c-col  md="6" xl="6" xs="12">
              <div class="field col-12 md:col-6 md:pr-6 pr-0"  *ngIf="!(data | async)">
                <h5></h5>
                <div class="custom-skeleton p-4">
                    <div class="flex mb-3">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height=".5rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    </div>
                </div>
              </div>

              <div *ngIf="data | async"
                class="border-start border-start-4 border-start-info py-1 px-3"
              >
                <div class="text-medium-emphasis small">Assigned Blocks</div>
                <div class="fs-5 fw-semibold">{{(this.data | async)?.block.used}}</div>
                <ngx-charts-advanced-pie-chart *ngIf="this.data | async"
                  [view]="view"
                  [results]="(this.data | async)?.block.langs"
                  [gradient]="gradient"
                  >
                </ngx-charts-advanced-pie-chart>

              </div>
            </c-col>
            <c-col  md="6" xl="6" xs="12">
              <div class="field col-12 md:col-6 md:pr-6 pr-0"  *ngIf="!(data | async)">
                <h5></h5>
                <div class="custom-skeleton p-4">
                    <div class="flex mb-3">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height=".5rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    </div>
                </div>
              </div>
              <div *ngIf="data | async"
                class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
              >
                <div class="text-medium-emphasis small">
                  Instances
                </div>
                <div class="fs-5 fw-semibold">{{(this.data | async)?.instance.count}}</div>
                <ngx-charts-advanced-pie-chart *ngIf="this.data | async"
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="[
                    {'name': 'Done','value':(this.data | async).docker.done },
                    {'name': 'Error','value':(this.data | async).docker.error },
                    {'name': 'Running','value':(this.data | async).docker.running }
                  ]"
                  [gradient]="gradient"
                  [label]="'Runs'"
                  >
                </ngx-charts-advanced-pie-chart>                  
              </div>
            </c-col>
            <c-col  md="6" xl="6" xs="12">
              <div class="field col-12 md:col-6 md:pr-6 pr-0"  *ngIf="!(data | async)">
                <h5></h5>
                <div class="custom-skeleton p-4">
                    <div class="flex mb-3">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height=".5rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    </div>
                </div>
              </div>
              <div *ngIf="data | async"
                class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
              >
                <div class="text-medium-emphasis small">DAGs</div>
                <div class="fs-5 fw-semibold">{{(this.data | async)?.dag.count}}</div>
                <ngx-charts-advanced-pie-chart *ngIf="this.data | async"
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="[
                    {'name': 'Done','value':(this.data | async).dag.done },
                    {'name': 'Error','value':(this.data | async).dag.error },
                    {'name': 'Running','value':(this.data | async).dag.running }
                  ]"
                  [gradient]="gradient"
                  [label]="'Runs'"
                  >
                </ngx-charts-advanced-pie-chart>                        
              </div>
            </c-col>
            <c-col md="6" xl="6" xs="12">
              <div class="field col-12 md:col-6 md:pr-6 pr-0"  *ngIf="!(data | async)">
                <h5></h5>
                <div class="custom-skeleton p-4">
                    <div class="flex mb-3">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height=".5rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    </div>
                </div>
              </div>
              <div *ngIf="data | async"
                class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
              >
                <div class="text-medium-emphasis small">Steps</div>
                <div class="fs-5 fw-semibold">{{(this.data | async)?.step.count}}</div>
                <ngx-charts-advanced-pie-chart *ngIf="this.data | async"
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="[
                    {'name': 'Done','value':(this.data | async).step.done },
                    {'name': 'Error','value':(this.data | async).step.error },
                    {'name': 'Running','value':(this.data | async).step.running }
                  ]"
                  [gradient]="gradient"
                  [label]="'Runs'"
                  >
                </ngx-charts-advanced-pie-chart>                    
              </div>
            </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Server</c-card-header>
      <c-card-body>
        <c-row>
            <c-col>
              <div class="field col-12 md:col-6 md:pr-6 pr-0"  *ngIf="!(data | async)">
                <h5></h5>
                <div class="custom-skeleton p-4">
                    <div class="flex mb-3">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height=".5rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    </div>
                </div>
              </div>
              <div *ngIf="data | async"
              class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
              >
              <div class="text-medium-emphasis small">Storage Space</div>
              <!-- <div class="fs-5 fw-semibold">{{(this.data | async)?.step.count}}</div> -->
              <ngx-charts-pie-chart *ngIf="this.data | async"
                [view]="[700, 400]"
                [scheme]="colorScheme"
                [results]="[
                  {'name': 'Total GB','value':(this.data | async).server.fsTotalSize },
                  {'name': 'Used GB','value':(this.data | async).server.fsUsedSize }
                ]"
                [gradient]="false"
                [legend]="true"
                [legendPosition]="'below'"
                [labels]="true"
                [doughnut]="false"
                >
              </ngx-charts-pie-chart>                 
            </div>

            </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
