<div class="container w-50">
  <h2><i class="fa fa-user-circle" aria-hidden="true"></i> Your Profile</h2>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="badge bg-primary rounded-pill">Name</span>

      {{ details?.name }}
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="badge bg-primary rounded-pill">Email</span>

      {{ details?.email }}
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="badge bg-primary rounded-pill">Are You Admin?</span>

      {{ details?.admin }}
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <mat-form-field floatPlaceholder="auto">
          <input matInput [(ngModel)]="password"
                 type="password"
                 required
                 placeholder="password">
      </mat-form-field>
      <button mat-raised-button (click)="setPassword()" color="primary">Change Password</button>
    </li>
  </ul>
</div>
