
.spinner-item {
  display: grid;
  place-items: center;
  margin-top: 10px;
}





.CodeMirror-fullscreen {
  border: 10px solid white !important;
}


.editme:hover{
  background-color: lightgray;
  cursor: pointer;
}