<p-toast></p-toast>
<div class="row w-100">
  
    <div class="col-4">
      <li  class="list-group-item d-flex justify-content-between align-items-center bg-primary">
        Runs:
        <a class="play-btn" id="play-btn" (click)="ani();"></a>

     </li>
        <cdk-virtual-scroll-viewport #scroller itemSize="72" class="content">
          
            <mat-list class="infinitelist">
                <ng-container *cdkVirtualFor="let item of listItems">
                  <mat-divider></mat-divider>
                        <mat-list-item  class="listitem" [style.border-left]="getBorder(item.content)">
                         
                        
                        <h3 matLine> <i class="fa fa-hashtag" aria-hidden="true"></i> {{item.title}} <img [src]="item.image" width="30"> <small style="font-size:10px"> &nbsp;ID: {{item.id}}</small> </h3>
                        <p matLine>
                          
                            <span> <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Duration: <code>{{item.runtime}}</code>
                              <br>
                              <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Started: <code>{{item.createdAt | date:'short'}}</code>
                              <mat-chip-list class="artlist" *ngIf="item.artifacts.length != 0" >
                                <mat-chip [routerLink]="['/instance/artifacts/', this.id , item.id]" style="min-height: 22px !important; cursor: pointer;">Artifacts: {{item.artifacts.length}}</mat-chip>
                            </mat-chip-list> 
                          </span>
                            
                        </p>
                        <button mat-icon-button [matMenuTriggerFor]="itemMenu" [matMenuTriggerData]="{name: item.id, instance:this.id,docker:item.id,length:item.artifacts.length}">
                            <mat-icon>
                            more_vert
                            </mat-icon>
                        </button>
                        <mat-divider></mat-divider>
                        </mat-list-item>
            
                </ng-container>
                <div class="spinner-item">
                    <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50" *ngIf="loading">     
                  </mat-progress-spinner>
                  </div>
            </mat-list>
        </cdk-virtual-scroll-viewport>
                
        <mat-menu #itemMenu="matMenu" >
            <ng-template matMenuContent let-name="name" let-instance="instance" let-docker="docker" let-length="length">
            <button mat-menu-item (click)="showConsole(name)">
                <i class="fa-solid fa-code" aria-hidden="true"></i> Console Log
            </button>
            <button mat-menu-item *ngIf="length != 0" [routerLink]="['/instance/artifacts/', instance , docker]">
              <i class="fa-solid fa-file-archive" aria-hidden="true"></i> Artifacts
          </button>
            <button mat-menu-item (click)="deleteDockerInstance(name)">
                <i class="fa-solid fa-times-circle" style="color: red;" aria-hidden="true"></i> Delete
            </button>
          </ng-template>
        </mat-menu>

    </div>
    <div class="col-8">

        <div class="d-flex">
                
            <div class="w-100">

<mat-toolbar class="d-flex justify-content-center">
  <span class="example-spacer"></span>
  <i class="fa-solid fa-cubes" aria-hidden="true"></i> &nbsp; <h1 style="margin-right: 1em;">{{this.Instance.name}} </h1>
  
  <span class="example-spacer"></span>
  <button pButton pRipple type="button" (click)="show()" icon="pi pi-clock" label="Schedule" class="p-button-outlined"></button>
</mat-toolbar>
                <ul class="list-group">
                  <li  class="list-group-item d-flex justify-content-between align-items-center bg-primary">
                   Parameters:
                </li>
                  <p-table [value]="this.Instance.parameters.concat(this.Instance.shared).concat(this.Instance.booleans).concat(this.Instance.multis).concat(this.Instance.dynamic)" dataKey="key" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th><i class="fa fa-key" aria-hidden="true"></i> Key</th>
                            <th><i class="fa fa-pencil-square" aria-hidden="true"></i> Value (Click to Override)</th>
                            <th><i class="fa fa-check" aria-hidden="true"></i> Type</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-parameter>
                        <tr>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input" *ngIf="parameter.type !== 'dynamic'">
                                        <input pInputText type="text" [(ngModel)]="parameter.key">
                                    </ng-template>
                                    <ng-template pTemplate="input" *ngIf="parameter.type === 'dynamic'">
                                    <input pInputText type="text" [(ngModel)]="parameter.name">
                                  </ng-template>
                                    <ng-template *ngIf="parameter.type !== 'dynamic'" pTemplate="output">
                                        {{parameter.key}}
                                    </ng-template>
                                    <ng-template *ngIf="parameter.type === 'dynamic'" pTemplate="output">
                                      {{parameter.name}}
                                  </ng-template>
                                </p-cellEditor>
                            </td>
                            <td pEditableColumn class="editme">
                                <p-cellEditor>
                                    <ng-template pTemplate="input" *ngIf="parameter.type === 'text'">
                                        <input pInputText [type]="parameter.secret ? 'password' : 'text'" [(ngModel)]="parameter.value">
                                    </ng-template>
                                    <ng-template pTemplate="input" *ngIf="parameter.type === 'checkbox'">
                                      <mat-checkbox [(ngModel)]="parameter.value">
                                        {{parameter.value}}
                                      </mat-checkbox>
                                    </ng-template>     
                                    <ng-template pTemplate="input" *ngIf="parameter.type === 'multi'">
                                      <mat-form-field appearance="outline">
                                        <mat-label>{{parameter.key}}</mat-label>
                                        <mat-select [(ngModel)]="parameter.value">
                                          <mat-option *ngFor="let choice of parameter.choices.split(',')" [value]="choice">
                                            {{choice}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>    
                                    </ng-template>                      
                                    
                                    <ng-template pTemplate="input" *ngIf="parameter.type === 'dynamic'">
                                      
                                      <mat-form-field appearance="outline">
                                        <mat-label>{{parameter.name}}</mat-label>
                                        <mat-select [(ngModel)]="parameter.output">
                                          <mat-option *ngFor="let choice of parameter.choices | async" [value]="choice">
                                            {{choice}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>    
                                      
                                    </ng-template>    


                                    <ng-template pTemplate="output">
                                        {{parameter.secret ? "*********" : (parameter.value ? parameter.value : (parameter.value == false ? 'false' : parameter.output))}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                              <p-cellEditor>
                                  <ng-template pTemplate="input">
                                      <input pInputText type="text" [(ngModel)]="parameter.type">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                    <i *ngIf="parameter.type === 'text'" class="fa fa-file-text" aria-hidden="true"></i>  
                                    <i *ngIf="parameter.type === 'checkbox'" class="fa fa-check-square" aria-hidden="true"></i>
                                    <i *ngIf="parameter.type === 'multi'" class="fa fa-list-ul" aria-hidden="true"></i>
                                    <i *ngIf="parameter.type === 'dynamic'" class="fa fa-rocket" aria-hidden="true"></i>
                      
                                    {{parameter.type}}
                                    <ng-container *ngIf="parameter.type === 'dynamic'">
                                      <p-progressSpinner [style]="{width: '20px', height: '20px'}" *ngIf="!(parameter.choices | async)"></p-progressSpinner>
                                    </ng-container>
                                  </ng-template>
                              </p-cellEditor>
                          </td>                            
                        </tr>
                    </ng-template>
                  </p-table>
                <br>
                  <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                      <mat-list-item>



                   

                          <ng-container matColumnDef="parameters">
                              <mat-chip-list>
                                <ng-container aria-label="Parameters" *ngIf='this.Instance.parameters.length != 0'>
                                
                                    <mat-chip color="primary" selected *ngFor="let param of this.Instance.parameters">
                                      <ng-container *ngIf="param.secret == true">
                                        {{param.key}}=***
                                      </ng-container>
                                      <ng-container *ngIf="param.secret == false">
                                        {{param.key}}={{param.value}}
                                      </ng-container>
                                    </mat-chip>
                                
                                </ng-container>
                                <ng-container aria-label="Parameters" *ngIf='this.Instance.shared.length != 0'>
                                  
                                    <mat-chip color="accent" selected *ngFor="let param of this.Instance.shared">
                                      <ng-container *ngIf="param.secret == true">
                                        {{param.key}}=***
                                      </ng-container>
                                      <ng-container *ngIf="param.secret == false">
                                        {{param.key}}={{param.value}}
                                      </ng-container>
                                    </mat-chip>
                                
                                </ng-container>
                                <ng-container aria-label="Parameters" *ngIf='this.Instance.parameters.length == 0 && this.Instance.shared.length == 0 && this.Instance.booleans.length == 0
                                && this.Instance.multis.length == 0'>
                                  <mat-chip color="primary">No Parameters</mat-chip>
                                </ng-container>

                                <ng-container aria-label="Parameters" *ngIf='this.Instance.booleans.length != 0'>
                                  
                                  <mat-chip color="primary" selected *ngFor="let param of this.Instance.booleans">
                                    <ng-container>
                                      {{param.key}}={{param.value}}
                                    </ng-container>
                                  </mat-chip>
                              
                              </ng-container>
                              <ng-container aria-label="Parameters" *ngIf='this.Instance.multis.length != 0'>
                                  
                                  <mat-chip color="primary" selected *ngFor="let param of this.Instance.multis">
                                    <ng-container>
                                      {{param.key}}={{param.value}}
                                    </ng-container>
                                  </mat-chip>
                              
                              </ng-container>

                                
                              </mat-chip-list>
                          </ng-container>



                    
                      </mat-list-item>

  
                  <span class="badge bg-primary rounded-pill">{{this.Instance.parameters.length+this.Instance.shared.length+this.Instance.booleans.length+this.Instance.multis.length}}</span>
                  </li> -->
                  <li *ngIf='this.Instance.desc !== ""' class="list-group-item d-flex justify-content-between align-items-center bg-primary">
                    Description:
                 </li>
                  <li *ngIf='this.Instance.desc !== ""' class="list-group-item d-flex justify-content-between align-items-center">
                      {{this.Instance.desc}}
                  </li>
                  <br>

                  <li  class="list-group-item d-flex justify-content-between align-items-center bg-primary">
                    Output:
                 </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <mat-chip-list>
                        <mat-chip *ngFor="let chip of this.dockerOutput">
                            {{chip.key}}={{chip.value}}
                        </mat-chip>
                    </mat-chip-list>
                  </li>
                </ul> 
                <mat-toolbar class="d-flex justify-content-between">
                    <h1 style="margin-right: 1em;"><i class="fa fa-hashtag" aria-hidden="true"></i> {{this.runNumber}}</h1>
                    <button mat-stroked-button color="primary" (click)="makeFull()"><small>Press ESC To Enter/Exit Full Screen</small></button>
                    
                </mat-toolbar>
                <ngx-monaco-editor class="CodeMirror" style="width: 100%;height:calc(100vh - 100px);" [options]="editorOptions" (keydown)="fullScreen($event, this);" [(ngModel)]="output"></ngx-monaco-editor>
            </div>
        </div> 
    </div>
</div>

