.hover-flow:hover{
    transform: scale(1.05);
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition:transform 0.1s ease-in-out;
    -ms-transition:transform 0.1s ease-in-out;
    cursor: pointer;
}