<div class="container mt-5 d-flex flex-row justify-content-center" style="gap: 4em;">
    <div class="hover-flow" style="width: 30%;">
        <div class="card p-4" style="height: 100%;" [routerLink]="'/flow-list'">
            <h1 class="card-title"><i class="fa fa-stairs" aria-hidden="true"></i> Steps Flow</h1>
    
            <img src="../../../assets/Blank diagram - Page 1 (1).png" class="card-img-top" alt="...">
       
          </div>
    </div>
    <div class="hover-flow" style="width: 30%;">
      <div class="card p-4" style="height: 100%;"  [routerLink]="'/flow-viz-list'">
        <h1 class="card-title"><i class="fa-solid fa-diagram-project"></i> DAG Flow</h1>

        <img src="../../../assets/patrik-bjorkstrom-mageinvisible1-size25.png" class="card-img-top" alt="...">
   
      </div>
    </div>
</div>