@charset "UTF-8";
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
  height: 100%;
  overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-cell {
    height: 4em;
  }   
  .mat-chip{
    border-radius: 3px !important;
  }
  .mat-column-image{
    flex: 0 0 7%;
    
  }

  .mat-column-run{
    flex: 0 0 15%;
  }
  .mat-column-name{
    flex: 0 0 15%;
    }
    /* .mat-column-name[role="cell"]{

    } */

  .mat-column-lang{
    flex: 0 0 10%;
  }
  .mat-column-configure{
    flex: 0 0 15%;
  }
  .mat-column-block{
    flex: 0 0 12%;
  }
.example-container, .example-header{
  margin-right: 1em;
  margin-left: 1em;
}

.content {
  height: calc(100vh);
  overflow: auto;
  border-right: 5px solid #3f51b5;
  border-left: 5px solid #3f51b5;
}